<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
	</startup>
	<appSettings>
		<add key="card back blue no.2" value="cardBack_blue2"/>
		<add key="card back blue no.3" value="cardBack_blue3"/>
		<add key="card back blue no.4" value="cardBack_blue4"/>
		<add key="card back blue no.5" value="cardBack_blue5"/>
		
		<add key="card back red no.2" value="cardBack_red2"/>
		<add key="card back red no.3" value="cardBack_red3"/>
		<add key="card back red no.4" value="cardBack_red4"/>
		<add key="card back red no.5" value="cardBack_red5"/>

		<add key="card back green no.2" value="cardBack_green2"/>
		<add key="card back green no.3" value="cardBack_green3"/>
		<add key="card back green no.4" value="cardBack_green4"/>
		<add key="card back green no.5" value="cardBack_green5"/>
	</appSettings>
</configuration>